body{
    min-height: 100vh;
    max-width: 400px;
    margin:0px;
    padding: 0px;
    background-color:rgb(220, 212, 203);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width:100%;
    height:100vh;
    box-sizing:border-box;
    background-color:rgb(220, 212, 203);
     
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: sans-serif;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index:1;
}
.navlist{
    display: flex;
}
.navlist li a{
    padding: 10px 15px;
    color:#6c707c;
    font-size:12px;
}
.logo{
    font-size:25px;
    font-weight: bold;
    color:#292929;
    font-family: sans-serif;
}
#menu-icon{
    font-size:2rem;
    cursor: pointer;
    display: none;
}
.navlist li a:hover,
.active{
    background-color: #292929;
    color:#FFFFFF;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: sans-serif;
    width:500px;
    position:absolute;
    left:20%;
    top:50%;
    transform: translate(-20%,-50%);
    text-align: justify;

}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 16px;
}
.name h1{
    font-family: sans-serif;
    font-size: 40px;
    margin:0px;
    letter-spacing:3px;
    color:#292929;
}
.image{
    align-items: center;
    justify-items: center;
    left:50%;
    right:50%;
    transform: translate(220%, -135%);
}
.social{
    margin:0;
    padding:0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    height:50px;
    width: 50px;
    background-color:whitesmoke;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    line-height: 50px;
    transform: translate(190%, 340%);

}
.fa-instagram{
    color: #e84393;
}
.fa-linkedin{
    color: #0097e6;
}
@media only screen and (max-width:1535px){
    nav{
      padding:15px 3%;
      transition: .2s;
    }
.social{
  padding: 0 3%;
  transition: .2s;
}
}

@media (max-width: 1460){
  .name{
      padding:0 12%;
      transition: .2s;
  }
}
@media (max-width:1340px){
  .image{
      width:100%;
      height: auto;
      
  }
  .name h1{
      font-size:40px;
      margin:0 0 30px;
  }
  .details{
      margin-bottom: 25px;
  }
  .social{
      transform:translate(-10%, -2%);
  }
}
@media (max-width:1220px){
  .image{
      width:100%;
      height:auto;
      transform: translate(190%, -135%);
  }
}
@media (max-width: 1195px){
 #main{
  padding: 0 3%;
  transition: .2s;
}
.name{
 padding-top: 115px;
}
.image{
 height:auto;
 width:20%;
 transform: translate(850%, -130%);
}
.social{
 transform:translate(-25%, 6%);
}
}

@media (max-width:990px){
 #menu-icon{
display: block;
 } 
 .navlist{
     position:absolute;
     top: 100%;
     right:-100%;
     width: 300px;
     height: 40vh;
     background: black;
     display: flex;
     align-items: center;
     flex-direction: column;
     padding: 50px 20px;

 }
 .navlist li a{
margin-left: 0;
display: block;
margin:7px 0;
 }
 .navlist.open{
     right:0;
 }
 .image{
     transform: translate(150%,-25%);
 }
 .social{
     transform: translate(2%,5%);
 }
}
@media (max-width: 680px){
  .image{
      width:100%;
      height:auto;
      transform: translate(20%,-25%);
  }
}
